<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QuizQuest</title>
    <link rel="stylesheet" href="css/aboutpage.css">
    <script>
        document.addEventListener("DOMContentLoaded", function () {

          // Add event listener to the Back to Quizzes button
      document.getElementById("explore").addEventListener("click", function () {
            // Navigate to the welcome page
            window.location.href = "http://localhost:8080/welcome"; // Replace with the actual URL of your welcome page
        });
      });
    </script>
</head>
<body>
    <header>
        <!--nav bar-->
        <nav class="nav-bar">
            <div class="logo">
                <!-- <img src="https://quizizz.com/wf/assets/62fa6419161d3a641f681ceb_Logo.svg" alt="Logo" width="100" height="60">  -->
                <img src="img/Screenshot 2023-09-29 152240.png" alt="Logo" width="200">
            </div>

            <ul class="nav-items">
                <li><a href="http://localhost:8080">Home</a></li>
                <li><a href="http://localhost:8080/welcome">Quizzes</a></li>
                <!-- <li><a href="#">Signup</a></li> -->
                <!-- <li><a href="#">Login</a></li> -->
                <li><a href="http://localhost:8080/contact">Contact</a></li>
                <li><a href="http://localhost:8080/about">About</a></li>
            </ul>

            <div class="nav-button ">
                <button class="nav-button-left btn">
                    Signup
                </button>

                <button class="nav-button-right btn">
                    Login
                </button>
            </div>
        </nav>
        <!--hero sction-->
    </header>
    <section class="hero">
        <div class="hero-content">
            <h1>Welcome to Your Educational Journey</h1>
            <p>A platform for the next generation of learners.</p>
            <a href="#" class="cta-button" id="explore">Explore Quizzes</a>
        </div>
    </section>
 
  <!--about section-->
    <section class="container--">
        <hr>
        <div class="about-content">
            
            <h1>About Us</h1>
            <pre>
             <p>Welcome to Quizizz, your ultimate destination for fun and educational quizzes!</p>
            <p>At Quizizz, we believe that learning should be engaging, interactive, and enjoyable. 
                That's why we've created a platform where you can challenge your knowledge, discover new facts, and have a great time while doing it.</p>
              <ul><li>Thousands of quizzes in different categories</li>
                <li>Interactive and user-friendly interface</li><li>Compete with friends and track your scores</li><li>Educational content designed for all ages</li><li>Regularly updated quizzes to keep you engaged</li>
            </ul><p>Join us on this exciting journey of exploration and knowledge. Get started now and become a QuizMaster!</p>
            <hr>
        </div>   
    </section>
          
<!--FOOTER AREA-->
<footer class="bg-[#23272a] w-full footer-section">
    <div class="max-w-[1200px] pt-24 pb-10 mx-auto footer-div">
        <div class="flex flex-row gap-[100px] px-5 footer-inner-div">
            <!-- left section -->
            <div class="flex flex-col gap-[24px] w-[20%] footer-left-section">
                <p class="font-['GintoNord'] font-[800] text-[#5865f2] text-[32px] leading-[30.4px]">
                    Stay <br>
                    Connected
                </p>

                <div class="flex text-[24px] text-white gap-7">
                    <!-- <a href="#">
                        <i class="fa fa-twitter"></i>
                    </a>
                    <a href="#">
                        <i class="fa fa-instagram"></i>
                    </a>
                    <a href="#">
                        <i class="fa fa-facebook"></i>
                    </a>
                    <a href="#">
                        <i class="fa fa-youtube"></i>
                    </a> -->
                    <img src="img/facebook-icon.svg" alt="" width="30">
                    <img src="img/instagram-icon.svg" alt="" width="30">
                    <img src="img/linkedin-icon.svg" alt="" width="30">
                    <img src="img/twitter-icon.svg" alt="" width="30">
                </div>
            </div>

            <!-- right section -->
            <div class="w-[75%] flex justify-around flex-wrap footer-right-section">

                <div class="text-white font-['ggSans'] w-fit flex flex-col gap-[10px] font-[400]">
                    <span class="text-[#5865f2] text-[16px] py-10px footer-right-section-title">Company</span>
                    <p class="hover:underline cursor-pointer">About</p>
                    <p class="hover:underline cursor-pointer">Jobs</p>
                    <!-- <p class="hover:underline cursor-pointer">Branding</p> -->
                    <p class="hover:underline cursor-pointer">Newsroom</p>
                </div>

                <div class="text-white font-['ggSans'] w-fit flex flex-col gap-[10px] font-[400]">
                    <span class="text-[#5865f2] text-[16px] py-10px footer-right-section-title">Resources</span>
                    <p class="hover:underline cursor-pointer">College</p>
                    <p class="hover:underline cursor-pointer">Support</p>
                    <!-- <p class="hover:underline cursor-pointer">Safety</p> -->
                    <p class="hover:underline cursor-pointer">Blog</p>
                    <p class="hover:underline cursor-pointer">Feedback</p>
                    <!-- <p class="hover:underline cursor-pointer">Developers</p> -->
                    <!-- <p class="hover:underline cursor-pointer">Streamkit</p> -->
                    <p class="hover:underline cursor-pointer">Creators</p>
                </div>

                <div class="text-white font-['ggSans'] w-fit flex flex-col gap-[10px] font-[400]">
                    <span class="text-[#5865f2] text-[16px] py-10px footer-right-section-title">Policies</span>
                    <p class="hover:underline cursor-pointer">Terms</p>
                    <p class="hover:underline cursor-pointer">Privacy</p>
                    <p class="hover:underline cursor-pointer">Cookie Settings</p>
                    <p class="hover:underline cursor-pointer">Guidelines</p>
                    <p class="hover:underline cursor-pointer">Acknowledgements</p>
                    <p class="hover:underline cursor-pointer">Licences</p>
                    <p class="hover:underline cursor-pointer">Moderation</p>
                </div>
            </div>
        </div>

        <!-- line -->
        <div class="bg-[#5865f2] w-[100%] h-[2px] mt-9 footer-line"></div>

        <div class="flex flex-row justify-between mt-6 footer-logo">
            <!-- <img src="Imagess/logo.svg" alt=""> -->
            <p style=" --tw-text-opacity: 1;
            color: rgb(119 124 133/var(--tw-text-opacity)); text-align: center;">
                QuizQuest is optimized for Quizes and Learning. Examples might be simplified to improve learning and Quizes. Tutorials, references, and examples are constantly reviewed to avoid errors, but we cannot warrant full correctness of all content. While using QuizQuest, you agree to have read and accepted our <u>terms of use, cookie and privacy policy</u>..
            </p>

            <!-- <button 
            class="text-white bg-[#5865f2] px-[16px] py-[7px] rounded-full leading-[24px] text-[14px] font-[500] hover:bg-[#5865f2] footer-button">
                Sign up
            </button> -->
        </div>
    </div>
</footer>


</body>
</html>